<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Level of logging required - override with -Dlog.level=... to see more -->
  <property name="LOG_LEVEL" value="${log.level:-INFO}"/>

  <!-- Logging messages pattern -->
  <property name="PATTERN" value="%d{ISO8601} %-5p [%logger{26}] - %msg%n"/>

  <property name="DEV_HOME" value="logs" />

  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${DEV_HOME}/pm-processor.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${DEV_HOME}/archived/pm-processor-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="com.mkyong.web" level="debug"
          additivity="false">
    <appender-ref ref="ROLLING" />
  </logger>

  <root level="${LOG_LEVEL}">
    <appender-ref ref="ROLLING" />
  </root>

</configuration>